.result {
  height: 60px;
  background-color: #2d2f33;
  width: 100%;
  color: white;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align: right;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #2d2f33;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
